<?php
return [
    'googlecloud' => [
        'storage' => [
            'project_name' => 'example',
            'key_file_path' => '/etc/gcs.json',
            'bucket' => [
                'name' => 'my-bucket',
                'prefix' => '/project',
                'acl' => 'publicRead',
                'region' => 'us-east1',
            ],
            'fallback_url' => 'https://example.com/media/'
        ],
    ],
];
