<?xml version="1.0"?>
<!--
/**
 * config.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT license, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/googlecloudstorage/LICENSE.txt
 *
 * @package     AuroraExtensions\GoogleCloudStorage
 * @copyright   Copyright (C) 2021 Aurora Extensions <support@auroraextensions.com>
 * @license     MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <googlecloudstorage>
            <general>
                <enable>0</enable>
                <gcp_project></gcp_project>
                <key_file_path></key_file_path>
            </general>
            <bucket>
                <name></name>
                <prefix></prefix>
                <acl>publicRead</acl>
                <region>us-central1</region>
            </bucket>
        </googlecloudstorage>
    </default>
</config>
