<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/googlecloudstorage/LICENSE.txt
 *
 * @package       AuroraExtensions_GoogleCloudStorage
 * @copyright     Copyright (C) 2019 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\MediaStorage\Helper\File\Storage" type="AuroraExtensions\GoogleCloudStorage\Helper\File\Storage"/>
    <preference for="Magento\MediaStorage\Model\File\Storage" type="AuroraExtensions\GoogleCloudStorage\Model\File\Storage"/>

    <virtualType name="AuroraExtensions\GoogleCloudStorage\Model\System\Source\Select\Bucket\Acl"
                 type="AuroraExtensions\GoogleCloudStorage\Model\System\Source\Select\Generic">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="authenticatedRead" xsi:type="string" translatable="true">Authenticated Read</item>
                <item name="bucketOwnerFullControl" xsi:type="string" translatable="true">Bucket Owner Full Control</item>
                <item name="bucketOwnerRead" xsi:type="string" translatable="true">Bucket Owner Read</item>
                <item name="private" xsi:type="string" translatable="true">Private</item>
                <item name="projectPrivate" xsi:type="string" translatable="true">Project Private</item>
                <item name="publicRead" xsi:type="string" translatable="true">Public Read</item>
                <item name="publicReadWrite" xsi:type="string" translatable="true">Public Read Write</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\GoogleCloudStorage\Model\System\Source\Select\Bucket\Region"
                 type="AuroraExtensions\GoogleCloudStorage\Model\System\Source\Select\Generic">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="northamerica-northeast1" xsi:type="string" translatable="true">Montreal (CA)</item>
                <item name="us-central1" xsi:type="string" translatable="true">Iowa (US)</item>
                <item name="us-east1" xsi:type="string" translatable="true">South Carolina (US)</item>
                <item name="us-east4" xsi:type="string" translatable="true">Northern Virginia (US)</item>
                <item name="us-west1" xsi:type="string" translatable="true">Oregon (US)</item>
                <item name="us-west2" xsi:type="string" translatable="true">Los Angeles, California (US)</item>
                <item name="southamerica-east1" xsi:type="string" translatable="true">Sao Paulo (BR)</item>
                <item name="europe-north1" xsi:type="string" translatable="true">Finland</item>
                <item name="europe-west1" xsi:type="string" translatable="true">Belgium</item>
                <item name="europe-west2" xsi:type="string" translatable="true">London (UK)</item>
                <item name="europe-west3" xsi:type="string" translatable="true">Frankfurt (DE)</item>
                <item name="europe-west4" xsi:type="string" translatable="true">Netherlands</item>
                <item name="asia-east1" xsi:type="string" translatable="true">Taiwan</item>
                <item name="asia-northeast1" xsi:type="string" translatable="true">Tokyo (JP)</item>
                <item name="asia-south1" xsi:type="string" translatable="true">Mumbai (IN)</item>
                <item name="asia-southeast1" xsi:type="string" translatable="true">Singapore</item>
                <item name="australia-southeast1" xsi:type="string" translatable="true">Sydney (AU)</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\MediaStorage\Model\Config\Source\Storage\Media\Storage">
        <plugin name="googleCloudStorageConfigurationForMedia"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\MediaStorage\Config\GoogleCloudStorageOption"
                sortOrder="10"/>
    </type>
</config>
