<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT license, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/googlecloudstorage/LICENSE.txt
 *
 * @package     AuroraExtensions\GoogleCloudStorage
 * @copyright   Copyright (C) 2021 Aurora Extensions <support@auroraextensions.com>
 * @license     MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AuroraExtensions\GoogleCloudStorage\Api\LocalizedScopeDeploymentConfigInterface"
                type="AuroraExtensions\GoogleCloudStorage\Model\Config\Deployment\LocalizedScopeDeploymentConfig"/>

    <preference for="AuroraExtensions\GoogleCloudStorage\Api\StorageObjectManagementInterface"
                type="AuroraExtensions\GoogleCloudStorage\Model\Adapter\StorageObjectManagement"/>

    <preference for="Magento\MediaStorage\Model\File\Storage\Synchronization"
                type="AuroraExtensions\GoogleCloudStorage\Model\File\Storage\Synchronization"/>

    <virtualType name="AuroraExtensions\GoogleCloudStorage\Model\System\Source\Select\Bucket\Acl"
                 type="AuroraExtensions\GoogleCloudStorage\Model\Config\Source\Select\VirtualSelect">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="authenticatedRead" xsi:type="string" translatable="true">Authenticated Read</item>
                <item name="bucketOwnerFullControl" xsi:type="string" translatable="true">Bucket Owner Full Control</item>
                <item name="bucketOwnerRead" xsi:type="string" translatable="true">Bucket Owner Read</item>
                <item name="private" xsi:type="string" translatable="true">Private</item>
                <item name="projectPrivate" xsi:type="string" translatable="true">Project Private</item>
                <item name="publicRead" xsi:type="string" translatable="true">Public Read</item>
                <item name="publicReadWrite" xsi:type="string" translatable="true">Public Read Write</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\GoogleCloudStorage\Model\System\Source\Select\Bucket\Region"
                 type="AuroraExtensions\GoogleCloudStorage\Model\Config\Source\Select\VirtualSelect">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="multi-region" xsi:type="string" translatable="true">Multi-region (multi-region)</item>
                <item name="northamerica-northeast1" xsi:type="string" translatable="true">Montreal, CA (northamerica-northeast1)</item>
                <item name="us-central1" xsi:type="string" translatable="true">Iowa, US (us-central1)</item>
                <item name="us-east1" xsi:type="string" translatable="true">South Carolina, US (us-east1)</item>
                <item name="us-east4" xsi:type="string" translatable="true">Northern Virginia, US (us-east4)</item>
                <item name="us-west1" xsi:type="string" translatable="true">Oregon, US (us-west1)</item>
                <item name="us-west2" xsi:type="string" translatable="true">Los Angeles, California, US (us-west2)</item>
                <item name="southamerica-east1" xsi:type="string" translatable="true">São Paulo, BR (southamerica-east1)</item>
                <item name="europe-north1" xsi:type="string" translatable="true">Finland (europe-north1)</item>
                <item name="europe-west1" xsi:type="string" translatable="true">Belgium (europe-west1)</item>
                <item name="europe-west2" xsi:type="string" translatable="true">London, UK (europe-west2)</item>
                <item name="europe-west3" xsi:type="string" translatable="true">Frankfurt, DE (europe-west3)</item>
                <item name="europe-west4" xsi:type="string" translatable="true">Netherlands (europe-west4)</item>
                <item name="asia-east1" xsi:type="string" translatable="true">Taiwan (asia-east1)</item>
                <item name="asia-northeast1" xsi:type="string" translatable="true">Tokyo, JP (asia-northeast1)</item>
                <item name="asia-south1" xsi:type="string" translatable="true">Mumbai, IN (asia-south1)</item>
                <item name="asia-southeast1" xsi:type="string" translatable="true">Singapore (asia-southeast1)</item>
                <item name="australia-southeast1" xsi:type="string" translatable="true">Sydney, AU (australia-southeast1)</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Catalog\Model\Product\Gallery\CreateHandler">
        <plugin name="googlecloudstorage_catalog_product_gallery_object_uploader"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\Catalog\Product\Gallery\ObjectUploader"
                sortOrder="10"/>
    </type>
    <type name="Magento\Framework\Image\Adapter\AdapterInterface">
        <plugin name="googlecloudstorage_framework_image_adapter_object_adapter"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\Framework\Image\Adapter\ObjectAdapter"
                sortOrder="10"/>
    </type>
    <type name="Magento\Framework\File\Uploader">
        <plugin name="googlecloudstorage_framework_file_uploader_object_uploader"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\Framework\File\Uploader\ObjectUploader"
                sortOrder="10"/>
    </type>
    <type name="Magento\MediaStorage\Helper\File\Storage">
        <plugin name="googlecloudstorage_mediastorage_file_internal_storage_list"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\MediaStorage\File\InternalStorageList"
                sortOrder="10"/>
    </type>
    <type name="Magento\MediaStorage\Model\Config\Source\Storage\Media\Storage">
        <plugin name="googlecloudstorage_mediastorage_configuration_gcs_option"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\MediaStorage\Config\GoogleCloudStorageOption"
                sortOrder="10"/>
    </type>
    <type name="Magento\MediaStorage\Model\File\Storage">
        <plugin name="googlecloudstorage_mediastorage_file_gcs_storage_model"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\MediaStorage\File\GoogleCloudStorage"
                sortOrder="10"/>
    </type>
    <type name="Magento\MediaStorage\Model\File\Storage\File">
        <plugin name="googlecloudstorage_mediastorage_file_storage_file_processor"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\MediaStorage\File\Storage\FileProcessor"
                sortOrder="10"/>
    </type>
    <type name="Magento\MediaStorage\Block\System\Config\System\Storage\Media\Synchronize">
        <plugin name="googlecloudstorage_mediastorage_configuration_sync_storage_params"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\MediaStorage\Config\SynchronizeStorageParams"
                sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Image">
        <plugin name="googlecloudstorage_catalog_product_image"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\Catalog\Product\Image"
                sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\View\Asset\Image">
        <plugin name="googlecloudstorage_catalog_model_view_asset_image"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\Catalog\View\Asset\Image"
                sortOrder="10"/>
    </type>
    <type name="Sirv\Magento2\Model\View\Asset\Image">
        <plugin name="googlecloudstorage_catalog_model_view_asset_image"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\Catalog\View\Asset\Image"
                sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="googlecloudstorage_catalog_category_image"
                type="AuroraExtensions\GoogleCloudStorage\Plugin\Catalog\Category"
                sortOrder="10"/>
    </type>
</config>
