<?xml version="1.0"?>
<!--
/**
 * system.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/googlecloudstorage/LICENSE.txt
 *
 * @package       AuroraExtensions_GoogleCloudStorage
 * @copyright     Copyright (C) 2019 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="auroraextensions" translate="label" sortOrder="1000">
            <label>Aurora Extensions</label>
        </tab>

        <section id="googlecloudstorage" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Google Cloud Storage</label>
            <tab>auroraextensions</tab>
            <resource>AuroraExtensions_GoogleCloudStorage::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Google Cloud Storage</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gcp_project" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Cloud Platform Project</label>
                    <comment>The name of the GCP project for the bucket.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="key_file_path" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>JSON Key File Path</label>
                    <comment>The path to the JSON key file to use for authentication with Google Cloud Storage APIs.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="bucket" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bucket Settings</label>
                <field id="name" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bucket Name</label>
                    <comment>The unique name given to the GCS bucket.</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="prefix" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bucket Prefix</label>
                    <comment>Synchronize to bucket subdirectory. Must be well-formed, Unix-like pathname.</comment>
                </field>
                <field id="acl" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bucket ACL Policy</label>
                    <comment>
                        <![CDATA[
                            The predefined ACL policy for bucket file objects. See <a href="https://cloud.google.com/storage/docs/access-control/lists#predefined-acl" target="_blank">here</a> for documentation.
                        ]]>
                    </comment>
                    <source_model>AuroraExtensions\GoogleCloudStorage\Model\System\Source\Select\Bucket\Acl</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
